@model YarnCollectionViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Collection Details</h1>

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Yarn.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Yarn.Manufacturer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.FiberType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Yarn.FiberType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.FiberWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Yarn.FiberWeight.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.SkeinYardage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Yarn.SkeinYardage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yarn.SkeinWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Yarn.SkeinWeight)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YarnDetail.YarnColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.YarnDetail.YarnColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @Model.YarnDetail.YarnColorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.YarnDetail.YarnColorCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YarnDetail.YarnColorLot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.YarnDetail.YarnColorLot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YarnDetail.QuantityOfSkeins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.YarnDetail.QuantityOfSkeins)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Total Yardage")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.totalYardage
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YarnDetail.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.YarnDetail.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Yarn" asp-action="Details" asp-route-id="@Model.Yarn.YarnId">Return to Collections List</a>
</div>
