@model IEnumerable<KnitHub.Models.YarnDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Yarn Collections</h1>

<p>
    <a asp-action="Create">Add New Collection</a>
</p>

<h3>@ViewBag.Producer @ViewBag.Name</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YarnColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YarnColorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YarnColorLot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            var t = Model.FirstOrDefault(x => x.YarnId == Convert.ToInt32(ViewBag.ID));

            if (t == null)
                return;
        }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => t.YarnColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => t.YarnColorCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => t.YarnColorLot)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@t.YarnDetailId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@t.YarnDetailId">Collection Details</a> |
                    <a asp-action="Delete" asp-route-id="@t.YarnDetailId">Delete</a>
                </td>
            </tr>
    </tbody>
</table>
<div>
    <a asp-controller="Yarn" asp-action="Index">Return to Yarn List</a>
</div>
