@model IEnumerable<KnitHub.Models.YarnDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Yarn Collections</h1>

<p>
    <a asp-action="Create">Add a New Collection</a>
</p>

<h3>@ViewBag.Producer @ViewBag.Name</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YarnColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YarnColorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YarnColorLot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YarnColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YarnColorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YarnColorLot)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.YarnDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YarnDetailId">View Details</a> |
                <a asp-action="Delete" asp-route-id="@item.YarnDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
