@model KnitHub.Models.PatternDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Pattern Specifics</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pattern.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yarnWeightKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yarnWeightKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yarnWeightValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yarnWeightValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.needleTypeKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.needleTypeKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.needleTypeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.needleTypeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.needleSizeKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.needleSizeKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.needleSizeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.needleSizeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wearableSizeKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wearableSizeKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wearableSizeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wearableSizeValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatternDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
