@model PatternDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Pattern Variation Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pattern.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pattern.Manufacturer.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern.Designer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pattern.Designer.FullName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pattern.Category.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern.SkillLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pattern.SkillLevel.Level)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern.StorageLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pattern.StorageLocation)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.yarnWeightValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.yarnWeightValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.needleTypeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.needleTypeValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.needleSizeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.needleSizeValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.wearableSizeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.wearableSizeValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatternDetail.PatternDetailId">Edit</a> |
    <a asp-controller="Pattern" asp-action="Details" asp-route-id="@Model.Pattern.PatternId">Return to Pattern Variations List</a>
</div>
