@model PatternDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Pattern Specifics</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pattern.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.yarnWeightValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.yarnWeightValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.needleTypeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.needleTypeValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.needleSizeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.needleSizeValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatternDetail.wearableSizeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatternDetail.wearableSizeValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatternDetail.PatternDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
