@model IEnumerable<KnitHub.Models.PatternDetail>

@{
    ViewData["Title"] = "Pattern Details";
}

<h1>Pattern Variations</h1>

<p>
    <a asp-action="Create">Add New Variation</a>
</p>
<br />
<br />

<h4>@ViewBag.Name</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.yarnWeightValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.needleTypeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.needleSizeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wearableSizeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patternYardageValue)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var patternDetailRecords = Model.Where(x => x.PatternId == Convert.ToInt32(ViewBag.ID)).ToList();

            if (patternDetailRecords == null)
                return;

            foreach (var patternDetail in patternDetailRecords)
            {
                var wearableSizes = (ICollection<WearableSize>)ViewBag.WearableSizes;
                var wearableSize = wearableSizes.FirstOrDefault(x => x.WearableSizeId.ToString() == patternDetail.wearableSizeValue);

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => patternDetail.yarnWeightValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => patternDetail.needleTypeValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => patternDetail.needleSizeValue)
                    </td>
                    <td>
                        @wearableSize?.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => patternDetail.patternYardageValue)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@patternDetail.PatternDetailId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@patternDetail.PatternDetailId">Variation Details</a> |
                        <a asp-action="Delete" asp-route-id="@patternDetail.PatternDetailId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-controller="Pattern" asp-action="Index">Return to Pattern List</a>
</div>
