@model IEnumerable<KnitHub.Models.PatternDetail>

@{
    ViewData["Title"] = "Pattern Details";
}

<h1>Pattern Variations</h1>

<p>
    <a asp-action="Create">Add New Variation</a>
</p><br /><br />

<h4>@ViewBag.Name</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.yarnWeightValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.needleTypeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.needleSizeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wearableSizeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patternYardageValue)
            </th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var t = Model.FirstOrDefault(x => x.PatternId == Convert.ToInt32(ViewBag.ID));

            if (t == null)
                return;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => t.yarnWeightValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.needleTypeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.needleSizeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.wearableSizeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.patternYardageValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@t.PatternDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@t.PatternDetailId">Variation Details</a> |
                <a asp-action="Delete" asp-route-id="@t.PatternDetailId">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-controller="Pattern" asp-action="Index">Return to Pattern List</a>
</div>
