@model PaginatedList<KnitHub.Models.Yarn>

@{
    ViewData["Title"] = "Yarn";
}

<h1>Yarn</h1>

<p>
    <a asp-action="Create">Add a Yarn</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="font-size: 14px">
            Find by yarn name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProducerSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Producer</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["YarnNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Yarn Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FiberTypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Yarn Type</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FiberWeightSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Yarn Weight</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiberType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiberWeight.FiberWeightId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.YarnId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YarnId">View Collections</a> |
                <a asp-action="Delete" asp-route-id="@item.YarnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{ 
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
