@model IEnumerable<KnitHub.Models.Pattern>

@{
    ViewData["Title"] = "Patterns";
}

<h1>Patterns</h1>

<p>
    <a asp-action="Create">Add a Pattern</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PatternNameSortParam"]">Pattern Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PublisherSortParam"]">Publisher</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DesignerSortParam"]">Designer</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CategorySortParam"]">Category</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SkillSortParam"]">Skill Level</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel.Level)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatternId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatternId">Pattern Variations</a> |
                <a asp-action="Delete" asp-route-id="@item.PatternId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
