@model IEnumerable<KnitHub.Models.Pattern>

@{
    ViewData["Title"] = "Index";
}

<h1>Patterns</h1>

<p>
    <a asp-action="Create">Add a Pattern</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatternId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatternId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatternId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
